
.footer-flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.countdown_tit le_div {
  width: 100%;
  justify-content: center;
}

.countdown_wrap {
  display: flex;
  width: 100%;
  background-color: #000000;
}
/*// Variables*/
$lato: "Lato";

/*// Title*/
.countdown_title {
  margin-bottom: 60px;
  text-align: center;
  font: 300 2.25em $lato;
  text-transform: uppercase;
  color: #FFFFFF;

  strong {
    font-weight: 400;
    color: #ea4c4c;
  }
}



/*// Countdown*/
.countdown {
  display: flex;
  justify-content: center;

  .bloc-time {
    float: left;
    margin-right: 45px;
    text-align: center;

    &:last-child {
      margin-right: 0px;
    }
  }


  .count-title {
    display: block;
    margin-bottom: 15px;
    font: normal 0.94em $lato;
    color: #FFFFFF;
    text-transform: uppercase;
  }

  .figure {
    position: relative;
    float: left;
    height: 110px;
    width: 100px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 8px;
    @include box-shadow(
      0 3px 4px 0 rgba(0, 0, 0, 0.2),
      inset 2px 4px 0 0 rgba(255, 255, 255, 0.08)
    );

    &:last-child {
      margin-right: 0;
    }

    > span {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      font: normal 5.94em/107px $lato;
      font-weight: 700;
      color: #04075e;
    }

    .top,
    .bottom-back {
      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    .top {
      z-index: 3;
      background-color: #f7f7f7;
      transform-origin: 50% 100%;
      -webkit-transform-origin: 50% 100%;
      @include border-top-radius(10px);
      @include transform(perspective(200px));
    }

    .bottom {
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: rgba(0, 0, 0, 0.02);
      }
    }

    .bottom-back {
      z-index: 2;
      top: 0;
      height: 50%;
      overflow: hidden;
      background-color: #f7f7f7;
      @include border-top-radius(10px);

      span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .top,
    .top-back {
      height: 50%;
      overflow: hidden;
      @include backface-visibility(hidden);
    }

    .top-back {
      z-index: 4;
      bottom: 0;
      background-color: #fff;
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      @include transform(perspective(200px) rotateX(180deg));
      @include border-bottom-radius(10px);

      span {
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}






/* Border-box Setting */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Border-box Setting Ended */

/*Font Setting*/
@font-face {
    font-family: 'simple';
    src: url('../font/simplifica_typeface-webfont.woff2') format('woff2'),
         url('../font/simplifica_typeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*Font Ended*/

/*media testing*/
@media screen and (max-width: 850px) {
	.header .banner {
		height: 200px;
	}
	#logoimg {
		width: 130px;
		height: 85px;
	}

	.dropdown {
		display: none;
	}

	.dropdown-content {
		display: none;
	}

	.dropdown-content a {
		display: none;
	}
}

@media screen and (max-width: 1200px) {
  .countdown_wrap {
    display: none;
  }
  .countdown_title_div strong {
    display: none;
  }
}


/*media ended*/

/*Animation Setting*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDownS {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
/*Animation Ended*/

#logoimg{
	height: 100px;
	weight: auto;
}
/*ID Setting*/

/*ID Ended*/

/*Affect All Setting*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.topbannertitle, .menu li a {
	-webkit-animation: fadeIn 3s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeIn 3s; /* Firefox < 16 */
	-ms-animation: fadeIn 3s; /* Internet Explorer */
	 -o-animation: fadeIn 3s; /* Opera < 12.1 */
		animation: fadeIn 3s;
}

.header.banner {
	-webkit-animation: fadeInDown 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeInDown 2s; /* Firefox < 16 */
	-ms-animation: fadeInDown 2s; /* Internet Explorer */
	 -o-animation: fadeInDown 2s; /* Opera < 12.1 */
		animation: fadeInDown 2s;
}

.topbannerpic {
	-webkit-animation: fadeInDownS 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeInDownS 2s; /* Firefox < 16 */
	-ms-animation: fadeInDownS 2s; /* Internet Explorer */
	 -o-animation: fadeInDownS 2s; /* Opera < 12.1 */
		animation: fadeInDownS 2s;
}

.topbannercontent {
	-webkit-animation: fadeInUp 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeInUp 2s; /* Firefox < 16 */
	-ms-animation: fadeInUp 2s; /* Internet Explorer */
	 -o-animation: fadeInUp 2s; /* Opera < 12.1 */
		animation: fadeInUp 2s;
}


.menu li a:hover, .footer-content:hover, .topbannertitle:hover {
	-webkit-transition: color ease-in-out 400ms;
	color: #ff817e;
}
/*Affect All Ended*/


/*Menu Setting*/
.menu li a {
	font-family:'simple';
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
}

/*Menu Ended*/

/*Header Setting*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.header.banner {
	display: inline-flex;
	align-items:flex-end;
	justify-content: flex-start;
	background-color: #060309;
	opacity: 0.9;
	max-height: 100px;
	min-height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: -100px;
	padding:1px;
}

/*Heading Ended*/

/* Dropdown Setting*/
.dropdown {
	width: 10%;
	margin-left:3%;
}

.dropdown-content {
	opacity: 100;
	display: none;
	position: absolute;
	background-color: #5D6D7E;
	min-width: 160px;
  z-index: auto;
}

.dropdown-content a {
	font-family: 'simple';
	font-weight: 400;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	opacity: 100;
  
}

.dropdown-content a:hover {
	background-color: #868686;
	text-decoration: none;
	color: #FFFFFF;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #000000;
}
/* Dropdown Ended */

/*Topbanner Setting*/
.topbanner {
	display: inline-flex;
	align-items:flex-end;
	justify-content: flex-start;
	position: relative;
	flex-direction: row;
	background-color: #E6E6E6;
	opacity: 0.8;
	top: 0;
	left: 0;
	height: auto;
	border: none;
	width: 100%;
	padding-bottom: 100px;
}
.topbannerpic {
	display: inline-grid;
	width: 25%;
	height: auto;
	border-radius: 50%;
	position: relative;
	float: center;
	margin-top:200px;
	margin-left: 150px;

}
.topbannertitle{
	color: #4C4C4C;
	margin-left: 40px;
	margin-top: 200px;
  	display: inline-grid;
	float: left;
	position: relative;
	font-size: 40px;
}

.topbannercontent {
	margin-left: -350px;
	margin-top: 280px;
	color: #4C4C4C;
  	display: grid;
	float: left;
	position: relative;
	font-size: 20px;
}




.topbanneranimate{
	overflow:hidden; 
	letter-spacing: .15em;
	animation: typing 3.5s steps(15, end), blink-caret .65s step-end infinite; 
	white-space: nowrap; 
	border-right: .15em solid orange;
	width:280px;
}

@keyframes typing {
  from { width: 0 }
   to { width: 280px }
   }

@keyframes blink-caret {
from, to { border-color: orange }
 50% { border-color: transparent; }
   }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
/*Topbanner Ended*/

.footer {
	display: flex;
	justify-content: center;
	align-items:flex-end;
	background-color: #060309;
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	width: 100%;
}

.foopic img {
	max-width: 300px;
	height: auto;
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.footer-content {
	font-family: 'simple';
	font-size: 20px;
	color: white;
	text-align: center;
}

.foo-social {
	text-decoration: none;
	display: table;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
}
