@import url("../../../css/style.css");

/*TEDX event Starts*/
.tedxEventContainer {
	flex-wrap: wrap;
	width: 100%;
	position: relative;
	margin-top: 100px;
	padding: 3%;
	font-family: Microsoft JhengHei;
}
.row{
	padding: 3%;
}
.TYRGlogocontainer{
	width: 80%;
}
.TYRGlogo{
	width: 100%;
}
.Tedxtitlecontainer{
	width: 100%;
}

.whatisflowerfire{
	font-size: 24px;
}

.transportation-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.location-text {
	font-size: 36px!important;
}
.location-text-small{
	font-size: 24px!important;
}

.including-map-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/*TEDX event Ends*/


