@import url("../../../css/style.css");

.hero-img{
	margin-top: 5%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../../../images/fireworks.jpg");
	height: 650px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-content{
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
	font-size: 300%;
}

.learn-button{
	background-color: white;
	color: black;
	font-size: 60%;
	padding: 3%;
	text-decoration: none !important;
}

/*TEDX event Starts*/
.tedxEventContainer {
	flex-wrap: wrap;
	width: 100%;
	position: relative;
	padding: 3%;
	font-family: Microsoft JhengHei;
}
.tedxrow{
	padding: 3%;
}
.TYRGlogocontainer{
	width: 80%;
}
.TYRGlogo{
	width: 100%;
}
.Tedxtitlecontainer{
	width: 100%;
}

.whatisflowerfire{
	font-size: 24px;
}

.transportation-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.location-text {
	font-size: 36px!important;
}
.location-text-small{
	font-size: 24px!important;
}

.including-map-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.display-mobile {
	display: none;
}

@media screen and (max-width: 800px) {
	.display-pc {
		display: none;
	}
	.display-mobile {
		display: block;
	}
	.transportation-container {
		width: 100%;
	}
	.mobile-center {
		text-align: center;
	}
	.button-mobile-center {
		display: block!important;
		margin: auto;
	}
}
/*TEDX event Ends*/
