/* Border-box Setting */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Border-box Setting Ended */

/*Font Setting*/
@font-face {
    font-family: 'simple';
    src: url('../../../font/simplifica_typeface-webfont.woff2') format('woff2'),
         url('../../../font/simplifica_typeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Font Ended*/

/*media testing*/

/*media ended*/

/*Animation Setting*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDownS {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*Animation Ended*/

/*ID Setting*/
#logoimg {
	max-width: 130px;
	max-height: 85px;
}
/*ID Ended*/

/*Affect All Setting*/
.topbannertitle, .menu li a {
	-webkit-animation: fadeIn 3s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeIn 3s; /* Firefox < 16 */
	-ms-animation: fadeIn 3s; /* Internet Explorer */
	-o-animation: fadeIn 3s; /* Opera < 12.1 */
		animation: fadeIn 3s;
}

.header.banner {
	-webkit-animation: fadeInDown 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeInDown 2s; /* Firefox < 16 */
	-ms-animation: fadeInDown 2s; /* Internet Explorer */
	-o-animation: fadeInDown 2s; /* Opera < 12.1 */
		animation: fadeInDown 2s;
}

.topbannerpic {
	-webkit-animation: fadeInDownS 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeInDownS 2s; /* Firefox < 16 */
	-ms-animation: fadeInDownS 2s; /* Internet Explorer */
	-o-animation: fadeInDownS 2s; /* Opera < 12.1 */
		animation: fadeInDownS 2s;
}

.topbannercontent {
	-webkit-animation: fadeInUp 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeInUp 2s; /* Firefox < 16 */
	-ms-animation: fadeInUp 2s; /* Internet Explorer */
	-o-animation: fadeInUp 2s; /* Opera < 12.1 */
		animation: fadeInUp 2s;
}

.column-heading {
	padding: 100px;
	-webkit-animation: fadeInLeft 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeInLeft 2s; /* Firefox < 16 */
	-ms-animation: fadeInLeft 2s; /* Internet Explorer */
	-o-animation: fadeInLeft 2s; /* Opera < 12.1 */
	animation: fadeInLeft 2s;
}

#column1 {
	margin-right: 1%;
	-webkit-animation: fadeInLeft 0.6s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeInLeft 0.6s; /* Firefox < 16 */
	-ms-animation: fadeInLeft 0.6s; /* Internet Explorer */
	-o-animation: fadeInLeft 0.6s; /* Opera < 12.1 */
	animation: fadeInLeft 0.6s;
}

#column2 {
	-webkit-animation: fadeInLeft 1.2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeInLeft 1.2s; /* Firefox < 16 */
	-ms-animation: fadeInLeft 1.2s; /* Internet Explorer */
	-o-animation: fadeInLeft 1.2s; /* Opera < 12.1 */
	animation: fadeInLeft 1.2s;
}

#column3 {
	-webkit-animation: fadeInLeft 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeInLeft 2s; /* Firefox < 16 */
	-ms-animation: fadeInLeft 2s; /* Internet Explorer */
	-o-animation: fadeInLeft 2s; /* Opera < 12.1 */
	animation: fadeInLeft 2s;
}


.menu li a:hover, .footer-content:hover, .topbannertitle:hover {
	-webkit-transition: color ease-in-out 400ms;
	color: #ff817e;	
}
/*Affect All Ended*/


/*Menu Setting*/
.menu li a {
	font-family:'simple';
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
}

/*Menu Ended*/

/*Header Setting*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;	
}

.header.banner {
	display: inline-flex;
	align-items:flex-end;
	justify-content: flex-start;
	flex-wrap: wrap; 
	background-color: #060309;
	opacity: 0.85;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

/*Heading Ended*/

/* Dropdown Setting*/
.dropdown {
	font-size: 20px;
	min-width: 150px;
	left: 140px;
	top: -50px;
}

.dropdown-content {
	opacity: 0.9;
	display: none;
	position: absolute;
	background-color: #5D6D7E;
	min-width: 160px;
	z-index: 1;
}

.dropdown-content a {
	font-family: 'simple';
	font-weight: 400;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	opacity: 0.9;
}

.dropdown-content a:hover {
	background-color: #868686;
	text-decoration: none;
	color: #FFFFFF;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #000000;
}
/* Dropdown Ended */

/*Topbanner Setting*/
.topbanner {
	display: inline-flex;
	align-items:flex-end;
	justify-content: flex-start;
	position: relative;
	flex-direction: row;
	background-color: #E6E6E6;
	opacity: 0.8;
	top: 0;
	left: 0;
	height: auto;
	border: none;
	width: 100%;
}
.topbannerpic {
	display: inline-grid;
	width: 200px;
	height: 266px;
	border-radius: 50%;
	position: relative;
	float: center;
	margin-top: 160px;
	margin-left: 150px;
 
}
.topbannertitle{
	color: #4C4C4C;
	margin-left: 20px;
	margin-top: 130px;
  	display: inline-grid;
	float: left;
	position: relative;
	font-size: 25px;
}
.topbannercontent{
	color: #4C4C4C;
	margin-left: -50px;
	margin-top: 180px;
  	display: grid;
	float: left;
	position: relative;
	font-size: 20px;
}
/*Topbanner Ended*/

.footer {
	display: flex;
	justify-content: center;
	align-items:flex-end;
	background-color: #060309;
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	width: 100%;
}

.foopic img {
	max-width: 100px;
	height: auto;
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
	
}
.footer-content {
	font-family: 'simple';
	font-size: 20px;
	color: white;
	text-align: center;
}

.foo-social {
	text-decoration: none;
	display: table;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
}

/*Stories Column Setting*/

hr {
	background-color: #979797;
}
.row {
  	display: flex;
}

.column {
	margin: 0.5%;
	margin-top: 100px;
	display: inline-flex;
	flex-wrap: wrap;
	opacity: 0.9;
	align-content: stretch;
	width: 32%;
	padding: 3%;
	height: auto;
	min-height: 600px;
	justify-content: center;
	transition: transform .2s; /* Animation */
}

.column:hover {
	transform: scale(1.05);
}

.column-heading {
	text-transform: uppercase;
	position: relative;
	top: 100px;
	height: 100px;
	font-family: 'simple';
	font-size: 40px;
	color: #888888;
	text-align: center;
	justify-content: center;
}

.column-content-title { 
	opacity: 0.9;
	margin-top: 10px;
	font-family: 'simple';
	color: #FFFFFF;
	font-size: 20px;	
}

.column-content {
	margin-top: 0px;
	color: white;
	font-size: 17px;
	
}

.readmore {
	margin-bottom: -10px;
	margin-right: -230px;
	opacity: 0.8;
	justify-content: center;
	font-family: 'simple';
	font-size: 30px;
	padding: 30px;
	color: white;
	background-color: #9A9A9A;
	transition: transform 2s;
}

@media screen and (max-width: 800px) {
	
	.column-heading {
		top: 200px;
		margin-bottom: 200px;
	}
	
	.column {
		margin: 0px;
		margin-top: 10px;
		align-content: center;
		width: 100%;
	}
}

.readmore:hover {
	transform: scale(1.3);
}
/*Stories Column Ended*/