@import url("http://genzers.nctu.me/genzers.github.io/css/style.css");

/*Font Setting*/
@font-face {
    font-family: 'simple';
    src: url('../../font/simplifica_typeface-webfont.woff2') format('woff2'),
         url('../../font/simplifica_typeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Font Ended*/


/*Animation Setting*/
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*Animation Ended*/

/*Affect All Setting*/
.column-heading {
	padding: 100px;
	-webkit-animation: fadeInLeft 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeInLeft 2s; /* Firefox < 16 */
	-ms-animation: fadeInLeft 2s; /* Internet Explorer */
	-o-animation: fadeInLeft 2s; /* Opera < 12.1 */
	animation: fadeInLeft 2s;
}

#column-only {
	-webkit-animation: fadeInLeft 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeInLeft 2s; /* Firefox < 16 */
	-ms-animation: fadeInLeft 2s; /* Internet Explorer */
	-o-animation: fadeInLeft 2s; /* Opera < 12.1 */
	animation: fadeInLeft 2s;
}


.column-heading:hover {
	-webkit-transition: color ease-in-out 500ms;
	color: #ff817e;
}
/*Affect All Ended*/

/*Stories Column Setting*/
hr {
	background-color: #979797;
}

#lastcolumn{
	margin-bottom: 5%;
}
.row {
  	display:flex;
    margin-bottom: 0px;
}

.column {
	margin: 5% 5% 0% 5%;
	display: inline-flex;
	flex-wrap: wrap;
	opacity: 0.9;
	align-content: stretch;
	width: 100%;
	padding: 3%;
	height: auto;
	min-height: 150px;
	justify-content: center;
	transition: transform .2s; /* Animation */
}

.column:hover {
	transform: scale(1.05);
}

.column-heading {
	text-transform: uppercase;
	position: relative;
	top: 100px;
	height: 100px;
	font-family: 'simple';
	font-size: 40px;
	color: #888888;
	text-align: center;
	justify-content: center;
}

.column-content-title {
	opacity: 1;
	margin-top: 10px;
	font-family: 'simple';
	color: #FFFFFF;
	font-size: 36px;
}

.column-content {
	margin-top: 0px;
    color: white;
    font-size: 200%;
    width: 500px;
    margin-left: -10%;
}

.web-container {
	display: flex;
	margin: 0% 5% -10%;
}


.weblogo {
	max-height: 230px;
    width: auto;
    padding-right: 100%;
}

.weblogo-container {
	display: flex;
	max-width: 30%;
	height: auto;
}

.webtext-container {
	text-align: center;
}
.formobile {
    display: none;
}

.contactusbannertitle{

	padding-top: 20px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	font-size: 40px;
	font-family: 'simple';
	justify-content: center;
}

.pc_contactuscontent{
	margin-bottom: 50px;
	background-color: #E0E0E0;
	margin-right: 5%;
	margin-left: 5%;
	padding: 3% 3% 3% 3%;
}
.pc_contactustext{
	font-size: 24px;
	font-family: "cwTeXKai", serif;
	color: black;
}
.mb_contactuscontent{
	margin-bottom: 20px;
	display: none;
}


@media screen and (max-width: 800px) {
    .webdesign-container {
        text-align: center;
        display: none;
    }
    .formobile {
        display: block;
        text-align: center;
        height: 70%;
        width: 70%;
    }
    .mobile_content {
        font-size: 150%;
        color: white;
        /* margin-right: 15%; */
    }
    .mobile_logo_container {
        text-align: center;
        height: 100%;
        width: 80%;
        margin-left: 10%;
    }
    .mobile_logo {
        display: block;
        height: 100%;
        width: 100%;
    }
    .column-content {
        display: none;
    }
	.column-heading {
		margin-top: -10%;
	}
	.column {
		flex: none;
		margin-left: 5%;
		width: 90%;
	}
	.column:hover {
		transform: scale(1);
	}
	.readmore {
		display: none;
	}
	#column3 {
		margin-left: 5%;
	}

}
/*Stories Column Ended*/
